.add-event-form{
	#checkFree{
		display:none;
	}

	#checkCapacity{
		display:none;
	}

	#category{
		text-transform: uppercase;
	}

	span{
		color: inherit;
	}
}

.event-header{
	padding:2% 0;
	background-color: #ECECEC;

	h1{
		margin-bottom: 5%;
	}

	p{
		margin-bottom: 3%;
		margin-top: 3%
	}
}