@mixin custom-transition($scope, $time){
-webkit-transition: $scope $time;
   -moz-transition: $scope $time;
    -ms-transition: $scope $time;
     -o-transition: $scope $time;
        transition: $scope $time;

}               



 