.privacy{
	
	.wrapper-content{
		margin-top:5%;
		margin-bottom:5%;
		padding:5%;
		border: 1px solid #D9D9D9;
	}	

	.wrapper-privacy{
		padding-right:8%;
	}

	td {
		border: 1px solid #D9D9D9;
	}

	h3{
		margin-top:5%;
		text-align:center;
	}
}

