.register-title {
    text-align: center;
    font-weight: 900;
}

.register-wrapper {
    margin-bottom: 200px;
    .btn-facebook, .btn-linkedin {
        width: 100%;
        margin-top: 4px;
    }
}