{% extends "layout.twig" %}

{% block body %}
    <div class="about-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
     {% include 'about-navigation.twig' %}               
                </div>
                <div class="col-md-10">
                    <div class="about-it-works-wrap">
                            <h2>BLABLABLABLA BLABLABLA</h2>
                            <p>BLABLABLABLABLABLABLABLABLABLABLABLA BLABLA BLABLABLABLA BLABLABLABLA BLABLABLABLA.</p>
            
                            <h2>BLABLABLABLA</h2>
                            <p> BLABLABLABLA <u>BLABLABLABLA</u> blablablabla blablabla</p>
                    <div class="see-all">
                        <p class="see-all-btn">
                          <a data-toggle="modal" data-target="#modal-login" class="btn btn-orange-brown">Regístrate</a>              
                        </p>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <div class="about-it-works-item">
                                <h4 class="title-tag with-image">
                                <img src="img/how-it-works-3.svg" class="about-it-works-img img-responsive"></img>
                                <span class="indices-about-it-works">1. </span>SELECCIÓN
                            </h4> 
                           
                                    <div class="about-it-works-item-text">
                                        <p>blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla  </p>

                                        <p>blablabla blablabla blabalbal balbal blabla  blablabla blablabla blabalbal balbal blabla </p>
                                    </div>
                            </div>
                            <div class="about-it-works-item">
                                <h4 class="title-tag with-image">
                                <img src="img/how-it-works-1.svg" class="about-it-works-img img-responsive"></img>
                                <span class="indices-about-it-works">2. </span>ANÁLISIS
                            </h4> 
                           
                                    <div class="about-it-works-item-text">
                                        <p>blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla  </p>

                                        <p>blablabla blablabla blabalbal balbal blabla  blablabla blablabla blabalbal balbal blabla </p>
                                    </div>
                            </div>
                            <div class="about-it-works-item">
                                <h4 class="title-tag with-image">
                                <img src="img/how-it-works-2.svg" class="about-it-works-img img-responsive"></img>
                                <span class="indices-about-it-works">3. </span>FUNDRAISING
                            </h4> 
                           
                                    <div class="about-it-works-item-text">
                                        <p>blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla  </p>

                                        <p>blablabla blablabla blabalbal balbal blabla  blablabla blablabla blabalbal balbal blabla </p>
                                    </div>
                            </div>
                            <div class="about-it-works-item">
                                <h4 class="title-tag with-image">
                                <img src="img/how-it-works-4.svg" class="about-it-works-img img-responsive"></img>
                                <span class="indices-about-it-works">4. </span>SEGUIMIENTO
                            </h4> 
                           
                                    <div class="about-it-works-item-text">
                                        <p>blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla blablabla blablabla blabalbal balbal blabla  </p>

                                        <p>blablabla blablabla blabalbal balbal blabla  blablabla blablabla blabalbal balbal blabla </p>
                                    </div>
                            </div>                                                        
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>  




{% endblock %}
