<div class="about-menu">
    <a href="" class="about-menu-item">Cómo funciona</a>
    <a href="" class="about-menu-item">Inversores con impacto</a>
    <a href="" class="about-menu-item">Empresas con impacto</a>
    <a href="" class="about-menu-item active">Preguntas frecuentes</a>
    <a href="" class="about-menu-item">Quiénes somos</a>
    <a href="" class="about-menu-item">Blog</a>
</div>