{% extends "layout.twig" %}

{% block body %}
    <div class="about-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
     {% include 'about-navigation.twig' %}               
                </div>
                <div class="col-md-10">
                    <div class="about-how-content">
                        <div class="about-it-works-wrap">
                            <h2>EMPRESAS CON IMPACTO</h2>
                        </div>
                        <p>¿Eres un emprendedor y te preocupa algo más que ganar dinero? ¿Tu empresa aporta soluciones innovadoras para mejorar la calidad de vida de las personas o colectivos vulnerables y conservar el medioambiente? ¿Tienes un modelo de negocio probado y tu empresa es escalable? ¿Necesitas financiación en forma de capital? </p>
                        <p>Si es así, estás en el sitio correcto, porque la Bolsa Social es la plataforma de financiación participativa de las empresas como la tuya.</p>

                        <img src="img/enterprise-steps.svg" class="img-responsive" alt="">

                        {# <div class="row">
                            <div class="col-md-4">
                                <h4 class="title-tag with-image"><img src="/img/icon_pencil.svg" /> Regístrate y accede a los proyectos</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="title-tag">Selecciona e invierte</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="title-tag title-brown"><span class="">1.</span> Requisitos mínimos</h4>
                            </div>
                        </div> #}

                        <hr class="line-border-orange">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-2 about-fix-responsive">
                                <div class="about-it-works-item">
                                
                                  

                                        <h4 class="title-tag with-image">
                                            <img src="img/enterprise-1.svg" class="img-responsive about-it-works-img "></img>  
                                            <span class="indices-about-it-works ">1. </span>REQUISITOS MÍNIMOS</h4>
                                        <div class="about-it-works-item-text">
                                            <p>La Bolsa Social selecciona cuidadosamente los mejores proyectos. Si quieres entrar a formar parte de nuestra comunidad, debes reunir, al menos, estas condiciones mínimas:</p>

                                            <p>
                                                <ul>
                                                    <li>Impacto social o medioambiental positivo acreditable.</li>
                                                    <li>Sostenibilidad económica y potencial de crecimiento.</li>
                                                    <li>Modelo de negocio probado (facturación demostrable el último año).</li>
                                                    <li>Compromiso personal con el proyecto.</li>
                                                    <li>Forma de sociedad limitada o anónima.</li>
                                                    <li>Domicilio en España.</li>
                                                    <li>Necesidades de capital por encima de 100.000 €.</li>
                                                </ul>
                                            </p>
                                        </div>
                                </div>


                                <div class="about-it-works-item">

                                        <h4 class="title-tag with-image">
                                            <img src="img/enterprise-2.svg" class="img-responsive about-it-works-img "></img> 
                                            <span class="indices-about-it-works">2. </span>PRESENTACIÓN DE LA EMPRESA</h4>
                                        <div class="about-it-works-item-text">
                                            <p>Si cumples los requisitos mínimos analizaremos tu empresa. Para ello es necesario que nos envíes información detallada sobre la empresa, equipo, plan de negocio, situación y perspectivas financieras, tal y como se describe en este <a href="#">documento</a> y en este <a href="#">formulario financiero</a>. Puedes enviarnos la presentación de tu empresa en formato PDF, power point, Word, Excel y zip a <a href="mailto:contacto@bolsasocial.com">contacto@bolsasocial.com</a>.</p>

                                            <p>Repasa bien la información antes de enviarla a la Bolsa Social. Puedes añadir imágenes y gráficos ilustrativos del producto o servicio, el mercado, la competencia, etc. Es muy recomendable que si tienes un vídeo explicativo, nos envíes la url.</p>

                                            <p>El Comité de Selección de la Bolsa Social escogerá los mejores proyectos. Trataremos toda la información que nos des de manera confidencial y la usaremos únicamente para el análisis.</p>

                                            <p>Recuerda que, al enviarnos la información a la Bolsa Social, aceptas los <a href="/terms/" target="_blank">términos y condiciones</a> de la Bolsa Social.</p>
                                        </div>
                                </div>


                                <div class="about-it-works-item">
                                
                                        <h4 class="title-tag with-image">     
                                            <img src="img/enterprise-3.svg" class="img-responsive about-it-works-img "></img>
                                            <span class="indices-about-it-works">3. </span>UNA VEZ SELECCIONADOS</h4>
                                        <div class="about-it-works-item-text">
                                            <p>Si tu proyecto es preseleccionado, nos pondremos en contacto contigo tan pronto como sea posible. Llevaremos a cabo un proceso de revisión de tu empresa, que comprende una due diligence financiera y legal simplificada, con el objetivo de dar confianza a los inversores y a la Bolsa Social sobre la propuesta de inversión. Los expertos de Analistas Financieros Internacionales (AFI) que trabajan para la Bolsa Social se pondrán en contacto contigo para pedirte más información de carácter financiero y los abogados del despacho Gómez Acebo y Pombo analizarán la documentación legal de tu empresa para asegurar que todo es correcto.</p>

                                            <p>Para que los abogados de Gómez Acebo y Pombo puedan realizar la due diligence simplificada, deberás facilitar a la Bolsa Social esta <a href="#">documentación</a>. Te recomendamos que planifiques bien el proceso. Ten en cuenta que puede tomar tiempo reunir toda la documentación necesaria.</p>

                                            <p>Si el resultado de la due diligence es positivo, presentaremos tu proyecto a los inversores de impacto e iniciaremos juntos la campaña de crowdfunding en la Bolsa Social.</p>
                                        </div>
                                </div>


                                <div class="about-it-works-item">

                                        <h4 class="title-tag with-image">
                                            <img src="img/enterprise-4.svg" class="img-responsive about-it-works-img "></img>     
                                            <span class="indices-about-it-works">4. </span>UNA VEZ FINANCIADOS</h4>
                                        <div class="about-it-works-item-text">
                                            <p>Tal y como se describe en este <a href="#">documento</a>.</p>
                                            <p>Transparencia y participación. En caso de que la campaña de crowdfunding tenga éxito, formalizaremos la ampliación de capital en nombre de todos los inversores. Esto te compromete a:</p>

                                            <p><ul>
                                                <li>Ofrecer al menos un puesto en el consejo de administración de tu empresa al inversor que haya hecho la aportación más significativa.</li>
                                                <li>Informar periódicamente a los inversores, a través de la Bolsa Social, sobre la evolución de la empresa, sus resultados y el impacto social y medioambiental.</li>
                                            </ul></p>
                                        </div>
                                </div>
                            </div>
                        </div>


                        

                    </div>    
                </div>  
            </div>
        </div>
    </div>  
     
{% endblock %}

{# {% block scripts %}
    {{ parent() }}
<script src="js/faq.js"></script>
{% endblock %} #}