
<form action="" method="POST" class="individual-form">
    <input type="hidden" name="typeof-investor" value="enterprise" />
    <input type="hidden" name="step1" value="1">
    <input id="enterprise-legal-form" type="hidden" name="legal_form" value="" />

    <div class="container" id="enterprise-provable-menu">
        <div class="row">
            <div class="col-md-12">
                <div class="payment-sub-option">
                    <h3 class="text-center">La Ley considera empresa de gran activo aquella que reúna al menos dos de estas tres características. Por favor, marque las casillas correspondientes.</h3>
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <label for="check-1" class="check-auth checkbox-inline">
                            <input type="checkbox" name="check-1" id="check-1" value="1">
                            El total de las partidas de su activo es igual o superior a 1 millón de euros.
                        </label>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <label for="check-2" class="check-auth checkbox-inline">
                            <input type="checkbox" name="check-2" id="check-2" value="1">
                            El importe de su cifra anual de negocios es igual o superior a 2 millones de euros.
                        </label>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <label for="check-3" class="check-auth checkbox-inline">
                            <input type="checkbox" name="check-3" id="check-3" value="1">
                            Sus recursos propios son iguales o superiores a 300.000 euros.
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="enterprise-profesional-disclaimer">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="enterprise-disclaimer">
                  <p>Por favor, escoja la categoría de inversor profesional a la pertenece, según el artículo 78 bis 3 de la Ley 24/1988 del Mercado de Valores.</p>
              </div>
            </div>
        </div>
    </div>

    <div class="container" id="enterprise-others-disclaimer">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="enterprise-disclaimer">
                  <p>La Bolsa Social le considera inversor no acreditado y no podrá invertir más de 3.000 € en este proyecto.</p>
                  <p>(Si desea invertir más de 3.000 €, por favor póngase en contacto con nosotros a través de <a href="mailto:acreditacion@bolsasocial.com">acreditacion@bolsasocial.com</a>. Se le pedirá que cumplimente un cuestionario de idoneidad y nos remita documentos acreditativos)</p>
              </div>
            </div>
        </div>
    </div>
    
    <div id="enterprise-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div id="type-of-investor-group" class="form-group clearfix">
                        <label for="type-of-investor" class="col-md-3 control-label">Tipo de empresa acreditada:</label>
                        <div class="col-md-9">
                            <select class="form-control" id="type-of-investor" name="e_investor_type" required tabindex="6" placeholder="lol">
                                <option value="" disabled selected>Select one</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="form-group clearfix">
                        <label for="enterprise-name" class="col-md-3 control-label">Razón social:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="enterprise-name" name="business_name" required minlength="3" maxlength="40" placeholder="Razón Social" value="" tabindex="4">
                        </div>
                    </div>


                    <div class="form-group ">
                        <label for="cif" class=" col-md-3 control-label">CIF:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="cif" name="e_id_number" maxlength="20" required value="" placeholder="" tabindex="5">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="type-of-enterprise" class=" col-md-2 control-label">Tipo de persona jurídica:</label>
                        <div class="col-md-4">
                            <select class="form-control" id="type-of-enterprise" name="e_type" required tabindex="6">
                              <option value="" disabled selected>Select one</option>
                              <option value="CUSTOM">Otro</option>
                            </select>
                            <input type="text" class="form-control" id="custom-type-of-enterprise" name="e_custom_type" minlength="2" maxlength="50" required value="" placeholder="" tabindex="6">
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <label for="enterprise-form-name" class="col-md-3 control-label">Nombre:</label>
                        <div class=" col-md-9">
                            <input type="text" class="form-control" id="enterprise-form-name" name="name" minlength="2" maxlength="60" required placeholder="Nombre" value="" tabindex="7">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="enterprise-form-surname" class=" col-md-3 control-label">Apellido:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="enterprise-form-surname" name="surname" minlength="2" maxlength="60" required value="" placeholder="Apellidos" tabindex="8">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="occupation" class=" col-md-3 control-label">Cargo en la empresa:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="occupation" name="job" minlength="2" maxlength="32" required value="" placeholder="Cargo en la empresa" tabindex="9">
                        </div>

                     <div class="col-md-6 checkbox">
                        <label for="check-enterprise-auth" class="check-auth checkbox-inline">
                            <input type="checkbox" name="check-enterprise-auth" required id="check-enterprise-auth" value="1" tabindex="10"> 
                            Tengo capacidad legal para comprometer la inversión en nombre de la entidad.
                        </label>
                    </div>


                    </div>

                    <div class="form-group ">
                        <label for="enterprise-form-phone" class=" col-md-3 control-label">Teléfono:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="enterprise-form-phone" name="e_phone" minlength="9" maxlength="16" required value="" placeholder="" tabindex="11">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="enterprise-form-nationality" class=" col-md-2 control-label">Nacionalidad:</label>
                        <div class="col-md-4">
                            <select class="form-control" id="enterprise-form-nationality" name="nationality" required tabindex="12">
                              <option value="" disabled selected>Select one</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="enterprise-form-address" class=" col-md-3 control-label">Dirección:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="enterprise-form-address" name="e_address" minlength="5" maxlength="255" required value="" placeholder="" tabindex="13">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="enterprise-form-addressNum" class=" col-md-1 control-label">Número:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="enterprise-form-addressNum" name="e_address_num" minlength="1" maxlength="10" required value="" placeholder="" tabindex="14">
                        </div>
                    </div>


                    <div class="form-group ">
                        <label for="enterprise-form-postcode" class=" col-md-2 col-md-offset-3 control-label">Código postal:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="enterprise-form-postcode" name="e_postcode" minlength="5" maxlength="10" required value="" placeholder="" tabindex="15">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="enterprise-form-city" class=" col-md-1 control-label">Ciudad:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="enterprise-form-city" name="e_city" minlength="2" maxlength="50" required value="" placeholder="" tabindex="16">
                        </div>
                    </div>


                    <div class="form-group ">
                        <label for="enterprise-form-province" class=" col-md-2 col-md-offset-3 control-label">Provincia:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="enterprise-form-province" name="e_state" minlength="2" maxlength="50" required value="" placeholder="" tabindex="17">
                        </select>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="enterprise-form-country" class=" col-md-1 control-label">País:</label>
                        <div class="col-md-3">
                            <select class="form-control" id="enterprise-form-country" name="e_country" required tabindex="18">
                              <option value="" disabled selected>Select one</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-orange pull-right btn-next" tabindex="19">Continuar >></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>