
    <form action="" id="others-form" class="individual-form">
        <div id="payment-individual">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="enterprise-others-disclaimer"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ipsam consequatur culpa possimus reprehenderit nam voluptatem ad perferendis molestias dolorum, vero non iure repudiandae quo voluptatum fuga! Sequi, dolorum, hic!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consequatur iure alias dolores nemo est quia. Similique magni quae dolorem tempora, neque beatae veritatis nisi qui consequuntur assumenda non sed.</p>
                        </div>

                        <div class="form-group clearfix">
                            <label for="enterprise-name" class="col-md-3 control-label">Razón Social:</label>
                            <div class=" col-md-9">
                                <input type="text" class="form-control" id="enterprise-name" name="enterprise-name" placeholder="Razón Social" value="" tabindex="1">
                            </div>
                        </div>


                        <div class="form-group ">
                            <label for="cif" class=" col-md-3 control-label">CIF:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="cif" name="phone" value="" placeholder="" tabindex="2">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="typeOfEnterprise" class=" col-md-2 control-label">Tipo:</label>
                            <div class="col-md-4">
                                <select class="form-control" name="typeOfEnterprise" tabindex="3" placeholder="lol">
                                  <option value="" disabled selected>Selecciona un tipo de persona jurídica</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="form-group clearfix">
                            <label for="enterprise-manager" class="col-md-3 control-label">Nombre y apellidos:</label>
                            <div class=" col-md-9">
                                <input type="text" class="form-control" id="enterprise-manager" name="enterprise-manager" placeholder="Nombre y apellidos de la persona que realiza la operación" value="" tabindex="4">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="occupation" class=" col-md-3 control-label">Cargo:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="occupation" name="surname" value="" placeholder="Cargo en la empresa" tabindex="5">
                            </div>

                         <div class="col-md-6">
                            <input type="checkbox" name="check-auth" id="check-auth" value="" class="checkbox-inline" tabindex="6"> 
                            <label for="check-auth" class="check-auth">
                                Por la presente acredito tener capacidad legal suficiente para comprometer la inversión a nombre de la empresa que represento.
                            </label>
                        </div>


                        </div>

                        <div class="form-group clearfix">
                            <label for="form-email" class="col-md-3 control-label">Correo Electrónico:</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" id="form-email" name="email" placeholder="correo@electronico.es" value="" tabindex="7">
                            </div>
                        </div>


                        <div class="form-group ">
                            <label for="phone" class=" col-md-3 control-label">Teléfono:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="phone" name="phone" value="" placeholder="" tabindex="8">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="nationality" class=" col-md-2 control-label">Nacionalidad:</label>
                            <div class="col-md-4">
                                <select class="form-control" name="nationality" tabindex="9">
                                  <option>...</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="address" class=" col-md-3 control-label">Calle:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="address" name="address" value="" placeholder="" tabindex="10">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="addressNum" class=" col-md-1 control-label">Número:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="addressNum" name="addressNum" value="" placeholder="" tabindex="11">
                            </div>
                        </div>


                        <div class="form-group ">
                            <label for="postcode" class=" col-md-2 col-md-offset-3 control-label">Código postal:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="postcode" name="postcode" value="" placeholder="" tabindex="12">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="city" class=" col-md-1 control-label">Localidad:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="city" name="city" value="" placeholder="" tabindex="13">
                            </div>
                        </div>


                        <div class="form-group ">
                            <label for="province" class=" col-md-2 col-md-offset-3 control-label">Provincia:</label>
                            <div class="col-md-3">
                                <select class="form-control" name="province" tabindex="14">
                                    <option>...</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="country" class=" col-md-1 control-label">País:</label>
                            <div class="col-md-3">
                                <select class="form-control" name="country" tabindex="15">
                                  <option>...</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-orange pull-right">Seguir adelante >></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>