{% extends "layout.twig" %}

{% block body %}

    <div class="title-wrap payment-success">
        <h1>¡Enhorabuena!</h1>
        <h2>Ha completado con éxito el proceso de inversión</h2>       
    </div>

    <div class="final">
        <div class="container">
            <div class="row">
                <div class="payment-steps-description clearfix">
                    <div class="col-md-12"> 
                        <h3 class="">Resguardo de inversión</h3>
                        <a href="javascript:window.print()" class="btn btn-orange pull-right"><img src="../img/print1.svg" alt=""></a>

                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="container">
        <div class="payment-main-wrap">
            <div class="row">
                <div class="col-md-3 hide-responsive">
                    <div class="payment-big-title" id="title1">Datos del inversor</div>
                </div>

                <div class="col-md-9" id="block1">
                    <div class="payment-single-wrap clearfix">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">Persona jurídica</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="payment-single-wrap clearfix clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">Razón Social:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-description">Aquí va la razón social</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">CIF:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-description">G12312312</span>
                            </div>
                        </div>
                    </div>
                   

                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">Tipo de empresa:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-description">Banca de inversión</span>
                            </div>
                        </div>
                    </div>
     

                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">Representada por:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-description db-helper">Nombre apellido1 apellido2</span>
                                <span class="payment-single-description db-helper">Cargo</span>
                                <span class="payment-single-description db-helper">Nacionalidad</span>
                            </div>
                        </div>
                    </div>               


                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">Teléfono:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-description">901 123 123</span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title">Dirección:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-description db-helper">Nombre de la calle, número</span>
                                <span class="payment-single-description db-helper">35010, Las Palmas</span>
                                <span class="payment-single-description db-helper">Provincia, País</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>  

    </div>

    <div class="container">
        <div class="payment-main-wrap">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 hide-responsive">
                    <div class="payment-big-title" id="title2">Datos de la inversión</div>
                </div>

                <div class="col-md-9" id="block2">

                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title padding-fixed">Cantidad a invertir:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-number">10.330,06€</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title padding-fixed">Nº de participaciones:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-number">4</span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="payment-single-wrap clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="payment-single-title padding-fixed">Porcentaje del proyecto:</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="payment-single-number">0,25%</span>
                            </div>
                        </div>
                    </div>
     
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="payment-main-wrap">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 hide-responsive">
                    <div class="payment-big-title" id="title3">Confirmaciones declaradas</div>
                </div>

                <div class="col-md-9" id="block3">

                    <div class="row">
                        <div class="col-md-12">
                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">Ha acreditado tener capacidad legal suficiente para comprotemer la inversión en nombre de la entidad.</span>

                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">Ha acreditado tener capacidad legal suficiente para comprotemer la inversión en nombre de la entidad.</span>

                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">Ha acreditado tener capacidad legal suficiente para comprotemer la inversión en nombre de la entidad.</span>

                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">Ha acreditado tener capacidad legal suficiente para comprotemer la inversión en nombre de la entidad.</span>

                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">Ha acreditado tener capacidad legal suficiente para comprotemer la inversión en nombre de la entidad.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="payment-main-wrap payment-last">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 hide-responsive">
                    <div class="payment-big-title" id="title3">Método de pago seleccionado</div>
                </div>

                <div class="col-md-9" id="block3">

                    <div class="row">
                        <div class="col-md-12">
                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">Ha realizado su inversión con cargo a su tarjeta de crédito.</span>
                            <span class="payment-single-disclaimer db-helper"><img src="../img/ok_mark.svg" alt="">ID de la transacción: 45IGGN6YBOF</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block scripts %}
    {{ parent() }}
<script src="js/payment-style.js"></script>
{% endblock %}