{% extends "layout.twig" %}

{% block body %}
<div class="privacy">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7 col-md-offset-3">
				<div class="wrapper-privacy">
				<h3>POLÍTICA DE PRIVACIDAD </h3>	
					<div class="wrapper-content">


<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>¿Quién
es responsable del tratamiento de tus datos personales?</B></P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P ALIGN=JUSTIFY>LA
BOLSA SOCIAL, S.L. (en adelante, LA BOLSA SOCIAL) se compromete a
tratar los datos de carácter personal que le sean facilitados por
los usuarios con arreglo a lo establecido en la legislación vigente
en la materia y con la confidencialidad exigida.   
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> LA
BOLSA SOCIAL es una sociedad de nacionalidad española,    con
C.I.F. B-87134227,    con domicilio en calle
Alameda 22, 28014, Madrid, de   bidamente
inscrita en el Registro Mercantil de Madrid, Tomo 32812, Libro 0,
Folio 52, Sección 8, Hoja M-590632,   
   titular del sitio web alojado bajo los
nombres de dominio    -www.bolsasocial.com y
www.bolsasocial.es – (en adelante, el “Sitio Web”) y de la
plataforma de    <I>crowdfunding</I>   
La Bolsa Social (en adelante, la “Plataforma”).    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> <B>¿Qué
datos personales recopilamos?</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P ALIGN=JUSTIFY> La
navegación de un usuario por el Sitio Web se lleva a cabo de modo
anónimo, salvo para aquellos apartados privados restringidos a
usuarios registrados, a los que se accede previo requerimiento de su
clave de identificación. No recopilamos datos de carácter personal,
excepto cuando el usuario nos proporciona esta información de forma
expresa.  </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> En
particular, recopilamos aquellos datos personales que el usuario del
Sitio Web facilite al registrarse o al realizar alguna inversión a
través de la Plataforma así como aquellos que se generen durante su
navegación por el Sitio Web y por el uso de los
productos/servicios/contenidos/suscripciones del Sitio Web.    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P ALIGN=JUSTIFY>   El
usuario declara bajo su responsabilidad que los datos que facilita a
LA BOLSA SOCIAL son ciertos, correctos y que pertenecen a su persona.
Cualquier manifestación falsa o inexacta que se produzca como
consecuencia de las informaciones y datos manifestados así como los
perjuicios que tal información pudiera causar será responsabilidad
del usuario. El usuario que facilite datos falsos podrá ser excluido
de los servicios del Sitio Web a los que pertenezca.           
</P>
<P LANG="es-ES" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> <B>¿Dónde
se guardan tus datos personales?</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>De
conformidad con la legislación vigente en materia de protección de
datos de carácter personal, los datos que el usuario consiente
expresamente en compartir con nosotros, o que nos pueda facilitar en
el futuro, serán incorporados para su tratamiento al correspondiente
fichero automatizado titularidad de LA BOLSA SOCIAL.     
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> LA
BOLSA SOCIAL    ha
adoptado los niveles de seguridad de protección de los datos
personales legalmente requeridos, instalando medios y medidas
técnicas para evitar la pérdida, mal uso, alteración, acceso no
autorizado y robo de los datos personales facilitados. A pesar de
ello, el usuario debe ser consciente de que las medidas de seguridad
en Internet no son inexpugnables.      </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   <B>¿Cómo
puedes acceder, modificar o eliminar tus datos?</B>      </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   En
cualquier momento, el usuario registrado podrá ejercer su derecho de
acceso, rectificación, cancelación u oposición respecto al
tratamiento de sus datos de carácter personal,    mediante
petición escrita y firmada,      adjuntando
copia de su documento nacional de identidad o de cualquier otra
documentación que le identifique, dirigida a    LA
BOLSA SOCIAL S.L.      a
la dirección que aparece señalada en el encabezado    o     
bien mediante correo electrónico dirigido a
contacto@bolsasocial.com.        
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> <B>¿Cómo
utilizamos tus datos?</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> Los
datos facilitados por el usuario podrán ser utilizados por LA BOLSA
SOCIAL con la finalidad de poder mejorar el uso que hace del Sitio
Web, identificarle y ofrecerle los productos y servicios en los que
esté interesado, con fines estadísticos, así como para enviarle
cualquier tipo de información    comercial,
técnica y operativa acerca de promociones, productos y servicios
ofrecidos por LA BOLSA SOCIAL y por terceros colaboradores de LA
BOLSA SOCIAL.     
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> En
cualquier momento, el usuario puede oponerse al uso de sus datos
personales para fines comerciales mediante correo electrónico
dirigido a contacto@bolsasocial.com.    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>¿Cómo
se comparten tus datos?</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   Los
datos personales del usuario pueden compartirse de las siguientes
formas:       
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   Aquellos
	datos que elijas expresamente que formen parte de tu perfil público,
	serán visibles a los usuarios que estén registrados en la Bolsa
	Social cuando decidas seguir a una empresa o invertir en ella a
	través de la Plataforma. Por tanto, tú decides si tu perfil
	público es visible y qué datos de tu perfil son públicos.      </P>
</UL>
<P LANG="es-ES" ALIGN=LEFT STYLE="margin-left: 0.49in"><BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   Cuando
	te comunicas con una empresa que está en campaña de fundraising y
	con otros usuarios a través de la Plataforma, o realizas cualquier
	comentario en la Plataforma, dicha información puede ser visible a
	los demás usuarios que estén registrados en la plataforma.      </P>
</UL>
<P LANG="es-ES" ALIGN=LEFT STYLE="margin-left: 0.49in"><BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   Cuando
	realizas una inversión en una empresa a través de la Plataforma,
	compartiremos tus datos personales con la empresa destinataria de la
	inversión y otras personas que intervengan en la formalización de
	la inversión (por ejemplo, notarios y registradores).      </P>
</UL>
<P LANG="es-ES" ALIGN=LEFT STYLE="margin-left: 0.49in"><BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY>   Si
	cambiara la propiedad o el control de la totalidad o de parte de
	nuestros servicios o de sus activos, transferiríamos tu información
	al nuevo propietario.       
	</P>
</UL>
<P LANG="es-ES" ALIGN=LEFT STYLE="margin-left: 0.49in"><BR>
</P>
<UL>
	<LI><P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>También
	podríamos compartir tus datos con la autoridad (por ejemplo, CNMV)
	en cumplimiento de la normativa aplicable.    </P>
</UL>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>¿Pueden
producirse cambios en nuestra Política de Privacidad? </B>    
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> En
el futuro pueden producirse cambios en nuestras prácticas y/o
política sobre privacidad que pueden afectar a los datos personales
identificables del usuario.    Es obligación
del usuario que acceda al Sitio Web conocer la Política de
Privacidad de LA BOLSA SOCIAL y consultarla regularmente, ya que
podrá estar sujeta a modificación por parte de LA BOLSA SOCIAL sin
previo aviso.    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=CENTER><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>POLÍTICA
DE COOKIES</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>¿Qué
son las cookies?</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> Una
&quot;cookie&quot; es un pequeño archivo de datos    que
se descarga en el ordenador/smartphone/tablet del usuario al acceder
a determinadas páginas web para almacenar y recuperar información
sobre la navegación que se efectúa desde dicho equipo.     
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> Estos
ficheros se almacenan en el ordenador del usuario y contienen datos
anónimos que no son perjudiciales para su equipo. Se utilizan para
recordar las preferencias del usuario, como el idioma seleccionado,
datos de acceso o personalización de la página. Las cookies también
pueden ser utilizadas para registrar información anónima sobre como
un visitante utiliza un sitio web. Por ejemplo, desde qué página
web se ha accedido, o si ha utilizado un &quot;banner&quot;
publicitario para llegar.    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2><B>¿Qué
tipo de cookies utilizamos y para qué?</B>    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>LA
BOLSA SOCIAL utiliza en el Sitio Web las siguientes cookies:     
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> cookies
	estrictamente necesarias para facilitar la navegación del usuario
	por el Sitio Web y para la prestaci   ó   n
	de determinados servicios solicitados expresamente por el usuario:
	si se desactivan estas cookies, no podr   á   
	recibir o acceder correctamente a nuestros contenidos y servicios; y
	    
	</P>
</UL>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in">
<BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> cookies
	anal   í   ticas
	(para el seguimiento y análisis estadístico del comportamiento del
	conjunto de los usuarios): si se desactivan estas cookies, el sitio
	web podrá seguir funcionando sin perjuicio de que la información
	captada por estas cookies sobre el uso de nuestra web permite
	mejorar nuestros servicios.    </P>
</UL>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2> Tú
decides si aceptas o no las cookies configurando tu navegador web.     
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><FONT FACE="Verdana, sans-serif"><FONT SIZE=2>El
Sitio Web puede contener enlaces de redes sociales (como Facebook o
Twitter). LA BOLSA SOCIAL no controla las cookies utilizadas por
estas redes externas.    </P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
<P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
</P>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}