    <div class="project-excerpt">
        <div class="col-md-12">
            <h1>Título 1</h1>
            <h2>Título 2</h2>
            <h3>Título 3</h3>
            <h4>Título 4</h4>
            <h5>Título 5</h5>
            <h6>Título 6</h6>
            <ul>
                <li>lista</li>
                <li>lista</li>
                <li>lista</li>
            </ul>
            <blockquote>Esto es una frase chula.</blockquote>
            <p><a href="">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Est hic, adipisci, fugiat sint impedit rem vero quasi libero. Illo, voluptas distinctio aliquam ratione eaque in quas tenetur quo harum similique?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est hic, adipisci, fugiat sint impedit rem vero quasi libero. Illo, voluptas distinctio aliquam ratione eaque in quas tenetur quo harum similique?</p>

            <h1>Título 1</h1>
            <h2>Título 2</h2>
            <h3>Título 3</h3>
            <h4>Título 4</h4>
            <h5>Título 5</h5>
            <h6>Título 6</h6>
            <ul>
                <li>lista</li>
                <li>lista</li>
                <li>lista</li>
            </ul>
            <blockquote>Esto es una frase chula.</blockquote>
            <p><a href="">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Est hic, adipisci, fugiat sint impedit rem vero quasi libero. Illo, voluptas distinctio aliquam ratione eaque in quas tenetur quo harum similique?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est hic, adipisci, fugiat sint impedit rem vero quasi libero. Illo, voluptas distinctio aliquam ratione eaque in quas tenetur quo harum similique?</p>


        </div>
    </div>  