{# Send box #}
<div class="project-messages-wrap">
    <div class="col-md-12">
        <form action="">
            <div class="project-messages-inbox">
                <h4>Escribe aquí tu mensaje</h4>
                <textarea name="" id=""class="form-control" placeholder="Escribe aquí el mensaje"></textarea>
                <div class="row">
                    <div class="col-md-8">
                        <p>Puedes cambiar tu nombre en el menú de configuración > alias</p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-send pull-right">Publicar</button>
                    </div>
                </div>  
            </div>
        </form>
    </div>  
</div>

<div class="project-messages-count">
    <div class="col-md-12">
        <h3>113 mensajes</h3>
    </div>
</div>

<div class="project-messages-wrap">
    <div class="col-md-12">
        <div class="project-message">
            <div class="project-message-name">
                Nombreusuario
            </div>
            <div class="project-message-timestamp">
                31 Septiembre 2015 - 08:30h
            </div>
            <div class="project-message-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="project-message-reply">
                        <a href="#" class="btn pull-right">Responder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-11 col-md-offset-1">
        <div class="project-message">
            <div class="project-message-name">
                Nombreusuario
            </div>
            <div class="project-message-timestamp">
                31 Septiembre 2015 - 08:30h
            </div>
            <div class="project-message-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="project-message-reply">
                        <a href="#" class="btn pull-right">Responder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-11 col-md-offset-1">
        <div class="project-message highlight">
            <div class="project-message-name">
                Nombreusuario
            </div>
            <div class="project-message-timestamp">
                31 Septiembre 2015 - 08:30h
            </div>
            <div class="project-message-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="project-message-reply">
                        <a href="#" class="btn pull-right">Responder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>