<div class="project-documents-wrap">
  <div class="col-md-12">
    <p class="helper">Pulsa sobre el nombre de cada documento para proceder a su descarga.</p>
    <ul>
      <li><a href="#">Nombre del documento</a></li>
      <li><a href="#">Nombre del documento</a></li>
    </ul>
  </div>
</div>