{% extends "layout.twig" %}

{% block body %}
<div class="privacy">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7 col-md-offset-3">
				<div class="wrapper-privacy">
				<h3>POR FAVOR, LEE
ATENTAMENTE ESTA INFORMACIÓN ANTES DE INVERTIR</h3>	
					<div class="wrapper-content">

<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>En Bolsa Social queremos que
seas consciente de los riesgos de invertir en el capital de empresas.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#f39200"><FONT FACE="Lato, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Rendimiento
incierto y posible pérdida de la inversión</B></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>La rentabilidad y el valor de
tu inversión dependerán del éxito que tenga la empresa en la que
inviertes. Por eso, si las cosas no van bien, puede que no obtengas
la rentabilidad que esperabas e incluso, en el peor de los
escenarios, puedes perder todo o parte del dinero que vas a invertir.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Tu inversión no está
garantizada. Esto significa que nadie, ni la Bolsa Social ni los
promotores de la empresa ni ningún fondo de garantía te garantizan
la recuperación de tu inversión ni un rendimiento mínimo.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#f39200"><FONT FACE="Lato, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Falta
de liquidez</B></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Con independencia de los
mecanismos de salida que en su caso se establezcan para cada tipo de
inversión, debes saber que las participaciones en el capital de
empresas pueden ser muy poco líquidas, es decir, puede no resultar
sencillo encontrar un comprador para las participaciones de las
empresas en las que inviertas.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Debes saber que el horizonte
temporal de inversión en las empresas publicadas en la Bolsa Social
es generalmente de medio y largo plazo y exige capital paciente y
comprometido. Te recomendamos que no inviertas en la Bolsa Social
para especular o para el corto plazo.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Por otro lado, te recomendamos
que tengas en cuenta las condiciones y restricciones a la
transmisibilidad de tus participaciones que establezca la Ley, los
estatutos de la empresa o el pacto de socios (como el derecho de
adquisición preferente, derechos de arrastre y acompañamiento,
etc.).</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#f39200"><FONT FACE="Lato, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Dividendos
no asegurados</B></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Los dividendos son las rentas
que una empresa puede decidir pagar a sus socios o accionistas cuando
hay beneficios. Nada garantiza que la empresa en la que inviertas
tenga o mantenga beneficios distribuibles entre sus socios o
accionistas o que, aun teniéndolos, decida distribuirlos. Las
empresas que se publican en la Bolsa Social son, por lo general, muy
jóvenes y por tanto es poco probable que distribuyan dividendos los
primeros años. Asimismo, las empresas que se publican en la Bolsa
Social generalmente reinvertirán una gran parte de sus beneficios en
el propio negocio para impulsar el crecimiento y aumentar el impacto
social o medioambiental positivo que generan.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#f39200"><FONT FACE="Lato, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Dilución
de la participación</B></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Cuando inviertas tendrás
derecho a un determinado porcentaje del capital de la empresa. Tu
capacidad para influir en la gestión de la empresa y tu
participación en los resultados de la empresa vendrán determinadas
por dicho porcentaje, por los estatutos y por el pacto de socios de
la empresa. Debes tener en cuenta que tu porcentaje podría disminuir
en caso de que la empresa amplíe capital en el futuro.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#f39200"><FONT FACE="Lato, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Supervisión
limitada</B></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>La Bolsa Social no está
sometida a la supervisión de la CNMV y los proyectos publicados en
la Bolsa Social no han sido examinados por la CNMV ni por el Banco de
España. Esto quiere decir que la información que nos ha facilitado
la empresa en la que quieres invertir no ha sido revisada por estos
organismos, ni constituye un folleto informativo aprobado por la
CNMV.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT FACE="Lato, serif"><FONT SIZE=3>Por otro lado, ten en cuenta
que la Bolsa Social no es una empresa de servicios de inversión ni
una entidad de crédito y no está adherida a ningún fondo de
garantía de inversiones o de depósitos. Las actividades de la Bolsa
Social y las informaciones ofrecidas en la página web y en la
plataforma no deben entenderse como recomendaciones de la Bolsa
Social para llevar a cabo inversiones, ni asesoramiento financiero. 
Cada usuario debe formar sus propios juicios independientes y adoptar
sus propias decisiones en relación a su actividad de inversión en
uso de la plataforma de la Bolsa Social.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#f39200"><FONT FACE="Lato, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Recomendaciones</B></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT FACE="Lato, serif"><FONT SIZE=3>No inviertas dinero que no
	estés dispuesto a perder. </FONT></FONT>
	</P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT FACE="Lato, serif"><FONT SIZE=3>Diversificando tu inversión
	en varias empresas, diversificas tu riesgo.</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT FACE="Lato, serif"><FONT SIZE=3>Lee la documentación con
	detenimiento, considera todos los pros y los contras antes de
	invertir y toma tu decisión de inversión de manera responsable.</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT FACE="Lato, serif"><FONT SIZE=3>Si no entiendes algo, busca
	asesoramiento profesional independiente.</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}